.LoCCard {
  padding: 20px 20px 40px 30px;
  margin-left: 50px;
  border: 4px solid #a98af7;
  text-align: left;
  color: white;
  font-weight: lighter;
  min-width: 17%;
  max-width: 17%;
}

.noBorder {
  border: none;
}

h3 {
  font-weight: lighter;
}

.viewButton {
  height: 3vh;
  margin-top: 5px;
  margin-left: -5px;
  border: 1px solid #7646c0;
  border-radius: 20px;
  background-color: #7646c0;
  color: white;
}

.applyButton {
  background-color: #b246a9;
  border-color: #b246a9;
}
