.LCcontainer {
  background-color: #f5f6fa;
  width: 100%;
  height: -webkit-fill-available;

  > br {
    clear: left;
  }
}

.LCHeader {
  height: 50px;
  background-color: white;
  border-bottom: 1px solid #ebeef5;

  > div {
    position: relative;
    height: 100%;
    width: 50px;
    border-right: 1px solid #ebeef5;
  }

  > p {
    font-size: 10pt;
    line-height: 25px;
  }
}

.loc-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.username-txt {
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  margin-right: 5%;
}

.cardsContainer {
  width: 60%;

  > div > span {
    margin-bottom: 10px;
  }
}

.letterContent {
  > div {
    display: block;
    float: left;
    width: 20%;
    margin: 2%;
    text-align: left;
  }
}

.rules {
  display: block;
  text-align: left;
  width: 76.5%;
  margin: 2%;

  > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

.actions {
  padding-right: 1%;
  display: flex;
  justify-content: flex-end;

  > button {
    border-radius: 30px;
    border: 1px solid #4880ff;
    background-color: transparent;
    color: #4880ff;
    padding: 0.7% 1.2% 0.7% 1.2%;
    margin: 0 1% 1% 0;
    font-weight: 500;
    white-space: nowrap;
    text-align: center;
    z-index: 99999999;
  }

  > button:hover {
    background-color: #4880ff;
    color: #fff;
  }
}

.statusMessage {
  margin: 2.5%;
}

.backButton {
  cursor: pointer;
  height: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 25%;
  margin: auto;
  z-index: 999999999;
}

.userInfo {
  display: inline-block;
  padding: 2% 0 0 2%;
}

.header {
  display: flex;
}

.stepper {
  width: 50%;
  margin: 0 auto;
}