.headerBar {
height: 5vh;
  border: 1px solid #d9cbed;
  background-color: #f9f5fc;
  line-height: 2.5;
}

.locOrdersText {
	margin-left: 6vh;
}

.viewAllText {
	margin-left: 50%;
}

table {
	width: 80%;
	margin: 3vh 0 3vh 6vh;
	border-collapse: collapse;
}

th {
	text-align: left;
	height: 5vh;
}

.row:hover {
	cursor: pointer;
	background-color: #f9f5fc;
}

td {
	height: 5vh;

}

.blueText {
	color: #8357c6;
}

.viewMoreButton {
	height: 3vh;
	border: 1px solid #b246a9;
	border-radius: 20px;
	margin-left: 6vh;
	background-color: #b246a9;
	color: white;
}