.cardContainer {
  background-color: white;
  box-shadow: 0 0 5px #d1d1d1;
  border-radius: 3px;
  padding: 20px;
  text-align: left;
  position: relative;

  button {
    width: 130px;
    height: 30px;
    position: absolute;
    bottom: -15px;
    left: 5px;
    border-radius: 30px;
    background-color: #4880ff;
    border: none;
    color: white;
    font-size: 10pt;

    > span {
      background-color: #2c58bd;
      border-radius: 30px;
      width: 50px;
      float: left;
      padding: 3px;
    }
  }

  input {
    width: 75%;
  }

  > ul {
    margin: 0;

    > li {
      font-size: 10pt;
    }
  }

  > h5 {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
  }
}

.disabled {
  background: transparent;
  box-shadow: none;
  border: 1px solid #d1d1d1;
}

.subheadingSpan {
  float: left;
  clear: left;
}

.topHeading {
  float: left;
  clear: left;
  color: #95989a;
}

.subheadingSpan, .topHeading {
  font-size: 10pt;
  padding-bottom: 5px;
}
