.LoCCard {
  padding: 20px 20px 40px 30px;
  margin-left: 6vh;
  border: 1px solid white;
  text-align: left;
  color: white;
  font-weight: lighter;
  min-width: 21%;
  max-width: 21%;

  > h3 {
    font-weight: lighter;
  }
}

.noBorder {
  border: none;
  padding-left: 0;
}

.viewButton {
  height: 3vh;
  margin-top: 5px;
  margin-left: -5px;
  border: 1px solid #3b34c4;
  border-radius: 20px;
  background-color: #3b34c4;
  color: white;
}

.applyButton {
  background-color: #fc6a66;
  border-color: #fc6a66;
}

.shipButtonDiv {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.shipButton {
  width: 25px;
  margin: auto;
  color: #BC5184;
  border-color: #BC5184;
  background: none;
  border-radius: 20px;
  padding: 5px 0px;
}

.shipButton:disabled {
  background-color: white;
  color: #28293c;
  border-color: white;
}

.acceptButton {
  width: 25px;
  margin: auto;
  border-color: white;
  background: none;
  border-radius: 20px;
  padding: 5px 8px;
}

.acceptButton:disabled {
  background-color: white;
  color: #3b34c4;
  border-color: white;
}

.shipText {
  margin: auto;
}