.background {
    display: flex;
    align-items: center;
    width:100%;
    height:100%;
    position: fixed;
    background-color: rgba(204, 205, 206, 0.75);
    z-index: 100000000;
}

.container {
    flex-direction: column;
    display: flex;
    margin: auto;
    height: 32%;
    width: 20%;
		background-color: white;
		font-family: Helvetica Neue, sans-serif;
    justify-content: space-between;

    > div {
      height: 100%;
      position: relative;

      > h3 {
        text-align: center;
        color: #2e3e4f;
      }
    }
}

.shipContainer {
  height: 50%;
  width: 50%;
}

.title {
    color: black;
}

.message {
    color: black;
}

.textMargins {
    margin: 5% 10% 5% 10%;
}

.buttonsRow {
  width: 90%;
  position: absolute;
  bottom: 0;
  margin: 0 0 5% 5%;
}

.yesButton {
	border-radius: 30px;
	font-size: 85%;
  white-space: nowrap;
	text-align: center;
	float: right;
}

.yesButton:enabled {
  border: 1px solid #4880ff;
  color: #4880ff;
  background-color: transparent;
}

.yesButton:disabled {
  cursor: not-allowed;
}

.yesButton:hover:enabled {
	background-color: #4880ff;
  color: #fff;
}

.cancelButton {
	padding: 0;
	border: none;
	background: none;
	font-size: 85%;
	text-decoration: underline;
	color: #4880ff;
}

.files-table {
  margin: 0 0 0 5%;
  width: 90%;

  td {
    margin-left: 5%;
    border-bottom: 1px solid #ccc;
    color: #2e3e4f;
  }

  tr {
    :hover {
      background-color: #fafafa;
    }
  }
}

.loadingMessage {
  color: black;
  text-align: center;
}
