.UserDetails {
  text-align: left;
  padding-left: 6vh;
  padding-bottom: 50px;
  color: white;
  font-weight: lighter;
  > h1 {
    font-family:HelveticaNeue-Bold, sans-serif;
    font-size: 19px;
  }
  > p {
    margin: 0;
    font-family:HelveticaNeue, sans-serif;
  }
}

.userDetailsTextBold {
  font-weight: bold;
  display: inline;
}
