.alicePageContainer {
  width: 100%;
  height: 100vh;
  background-image: url("../../resources/backgrounds/smallbackgroundslice.png"), url("../../resources/backgrounds/largebackgroundslice.png");
  background-repeat: no-repeat, no-repeat;
  background-color: #3B51DC;
  display: flex;
  flex-direction: column; }

.loadingSpan {
  margin: auto;
  color: white; }

.flexDiv {
  display: flex;
  flex-direction: row; }

.aliceHeaderDiv {
  width: 100%;
  height: 10vh; }

.aliceUsername {
  float: left;
  margin: 3vh;
  font-weight: lighter;
  font-size: 90%;
  color: white;
  text-decoration: none; }

.aliceUsernameIcon {
  margin-right: 5px; }

.aliceMenuItems {
  position: absolute;
  right: 0;
  margin-top: 3vh; }
  .aliceMenuItems > span {
    margin: 3vh;
    color: white;
    font-weight: lighter;
    font-size: 90%; }

.infoDiv {
  height: 50vh; }

.aliceWelcomeDiv > h1 {
  margin-left: 6vh;
  margin-top: 5vh;
  margin-bottom: 4vh;
  color: white; }

.aliceWelcomeMessage {
  font-family: HiraMaruPro-W4;
  font-weight: lighter;
  font-size: 44px;
  color: #ffffff;
  letter-spacing: 0; }

.alertsDiv {
  display: flex;
  flex-direction: column;
  float: right; }

.locDiv {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-x: scroll; }

.currentBalance {
  margin-top: 5px;
  margin-left: -5px;
  border: 1px solid #273ec6;
  border-radius: 20px;
  background-color: #273ec6;
  color: white;
  padding: 12px; }

.bobPageContainer {
  width: 100%;
  height: 100vh;
  background-color: #28293c;
  display: flex;
  flex-direction: column; }

.loadingSpan {
  margin: auto;
  color: white; }

.flexDiv {
  display: flex;
  flex-direction: row; }

.bobHeaderDiv {
  width: 100%;
  height: 10vh; }

.bobUsername {
  float: left;
  margin: 3vh;
  font-weight: lighter;
  font-size: 90%;
  color: white;
  text-decoration: none; }

.bobMenuItems {
  margin-top: 3vh;
  margin-left: 20%; }

.bobMenuItems > span {
  margin: 3vh;
  color: white;
  font-weight: lighter;
  font-size: 90%; }

.infoDivBob {
  height: 30vh; }

.bobWelcomeDiv {
  text-align: center;
  margin-left: 0;
  margin-top: 0;
  color: white;
  font-size: 20px; }

.bobDetailsDiv {
  margin-top: 1vh;
  color: white; }

.alertsDiv {
  display: flex;
  flex-direction: column; }

.locDivBob {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-x: scroll; }

.LoCCardConnector {
  border: 5px solid #7646c0;
  width: 10px;
  height: 10px; }

#welcomeMessage {
  font-size: 20px;
  font-weight: lighter; }

#accountBalance {
  font-size: 55px;
  font-weight: lighter; }

.ellaPageContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column; }

.ellaLoadingSpan {
  margin: auto; }

.flexDiv {
  display: flex;
  flex-direction: row; }

.ellaHeaderDiv {
  background-color: #a0066f;
  width: 100%;
  color: white; }

.ellaUsername {
  float: left;
  margin: 2vh 0 2vh 3vh;
  font-weight: lighter;
  font-size: 90%;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 0.5%; }

.ellaWelcomeDiv {
  background-color: #a0066f;
  color: white;
  text-align: center;
  text-shadow: 0 1px #4e3747;
  padding-top: 1%; }

.ellaWelcomeDiv > span {
  font-weight: 500;
  font-size: 70%;
  text-transform: uppercase; }

.ellaWelcomeDiv > h1 {
  text-align: center;
  font-weight: lighter; }

.matiasPageContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column; }

.matiasLoadingSpan {
  margin: auto; }

.matiasUsernameIcon {
  margin-right: 5px; }

.flexDiv {
  display: flex;
  flex-direction: row; }

.matiasHeaderDiv {
  width: 100%;
  height: 10vh;
  background-color: #3b34c4;
  color: white; }

.matiasUsername {
  float: left;
  margin-left: 6vh;
  margin-top: 3vh;
  font-weight: lighter;
  font-size: 90%;
  text-decoration: none; }

.matiasMenuItems {
  margin-top: 3vh;
  margin-left: 20%; }

.matiasMenuItems > span {
  margin: 3vh;
  font-weight: lighter;
  font-size: 90%; }

.matiasWelcomeDiv {
  background-color: #3b34c4;
  color: white;
  border-bottom: 1px solid #e8e9eb; }

.matiasWelcomeDiv > h1 {
  margin-left: 6vh;
  font-weight: 500; }

.tutorialPageContainer {
  position: absolute;
  top: 50px;
  width: 750px;
  left: 50%;
  margin-left: -400px;
  background-color: #FFF;
  padding: 25px;
  border-bottom: 50px solid #f5f6fa; }

body {
  background-color: #f5f6fa; }

.Page {
  height: 100vh;
  width: 100%; }

.Username {
  float: right;
  margin: 3vh; }

.LCcontainer {
  background-color: #f5f6fa;
  width: 100%;
  height: -webkit-fill-available; }
  .LCcontainer > br {
    clear: left; }

.LCHeader {
  height: 50px;
  background-color: white;
  border-bottom: 1px solid #ebeef5; }
  .LCHeader > div {
    position: relative;
    height: 100%;
    width: 50px;
    border-right: 1px solid #ebeef5; }
  .LCHeader > p {
    font-size: 10pt;
    line-height: 25px; }

.loc-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

.username-txt {
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  margin-right: 5%; }

.cardsContainer {
  width: 60%; }
  .cardsContainer > div > span {
    margin-bottom: 10px; }

.letterContent > div {
  display: block;
  float: left;
  width: 20%;
  margin: 2%;
  text-align: left; }

.rules {
  display: block;
  text-align: left;
  width: 76.5%;
  margin: 2%; }
  .rules > ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }

.actions {
  padding-right: 1%;
  display: flex;
  justify-content: flex-end; }
  .actions > button {
    border-radius: 30px;
    border: 1px solid #4880ff;
    background-color: transparent;
    color: #4880ff;
    padding: 0.7% 1.2% 0.7% 1.2%;
    margin: 0 1% 1% 0;
    font-weight: 500;
    white-space: nowrap;
    text-align: center;
    z-index: 99999999; }
  .actions > button:hover {
    background-color: #4880ff;
    color: #fff; }

.statusMessage {
  margin: 2.5%; }

.backButton {
  cursor: pointer;
  height: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 25%;
  margin: auto;
  z-index: 999999999; }

.userInfo {
  display: inline-block;
  padding: 2% 0 0 2%; }

.header {
  display: flex; }

.stepper {
  width: 50%;
  margin: 0 auto; }

.Alert {
  width: 35%;
  line-height: 1;
  margin-left: 87vh;
  margin-bottom: 1vh;
  padding-left: 15px;
  border: 1px solid white;
  border-radius: 15px; }
  .Alert > p {
    color: white;
    font-weight: lighter; }

.Block {
  padding-left: 5px;
  align-items: center;
  display: flex;
  margin: 0;
  color: #95989a;
  min-height: 70px; }

.BlockLine {
  background-color: #4880ff;
  box-shadow: 0 0 5px #8bb0ff;
  border-radius: 2px;
  width: 2px;
  height: 50px;
  margin: 0 5px; }

.BlockText {
  display: inline-block;
  line-height: 5px;
  font-size: 10pt; }

.BlockNumber {
  display: inline-block; }

.BlockChainDisplay {
  position: absolute;
  bottom: 0;
  right: 0;
  top: 16%;
  overflow: scroll;
  display: flex;
  flex-direction: column-reverse;
  padding-right: 5%;
  height: 500px; }

.greyBlock {
  padding-left: 5px;
  padding-top: 10px;
  align-items: center;
  margin: 0; }

.greyBlockLine {
  background-color: #ddd;
  box-shadow: 0 0 5px #d1d1d1;
  width: 2px;
  height: 25px;
  display: inline-block;
  margin: 0 14px; }

.greyBlockNumber {
  display: inline-block;
  opacity: 0; }

.cardContainer {
  background-color: white;
  box-shadow: 0 0 5px #d1d1d1;
  border-radius: 3px;
  padding: 20px;
  text-align: left;
  position: relative; }
  .cardContainer button {
    width: 130px;
    height: 30px;
    position: absolute;
    bottom: -15px;
    left: 5px;
    border-radius: 30px;
    background-color: #4880ff;
    border: none;
    color: white;
    font-size: 10pt; }
    .cardContainer button > span {
      background-color: #2c58bd;
      border-radius: 30px;
      width: 50px;
      float: left;
      padding: 3px; }
  .cardContainer input {
    width: 75%; }
  .cardContainer > ul {
    margin: 0; }
    .cardContainer > ul > li {
      font-size: 10pt; }
  .cardContainer > h5 {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0; }

.disabled {
  background: transparent;
  box-shadow: none;
  border: 1px solid #d1d1d1; }

.subheadingSpan {
  float: left;
  clear: left; }

.topHeading {
  float: left;
  clear: left;
  color: #95989a; }

.subheadingSpan, .topHeading {
  font-size: 10pt;
  padding-bottom: 5px; }

.LoCCard {
  padding: 20px 20px 40px 30px;
  margin-left: 6vh;
  border: 1px solid white;
  text-align: left;
  color: white;
  font-weight: lighter;
  min-width: 21%;
  max-width: 21%; }
  .LoCCard > h3 {
    font-weight: lighter; }

.noBorder {
  border: none;
  padding-left: 0; }

.viewButton {
  margin-top: 5px;
  margin-left: -5px;
  border: 1px solid #273ec6;
  border-radius: 20px;
  background-color: #273ec6;
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex; }
  .viewButton > p {
    margin: 0;
    padding-right: 8px; }

.LoCCardBob {
  padding: 20px 20px 40px 30px;
  margin-left: 6vh;
  border: 5px solid #7646c0;
  box-shadow: 0 2px 22px 2px #7646c0;
  text-align: left;
  color: white;
  font-weight: lighter;
  font-size: 15px;
  min-width: 14%;
  max-width: 14%; }
  .LoCCardBob > h3 {
    font-weight: lighter; }

.viewButtonBob {
  margin-top: 5px;
  margin-left: -5px;
  padding-top: 12px;
  padding-bottom: 12px;
  float: right;
  width: 7%; }

.viewButtonBob:hover {
  cursor: pointer; }

.viewButtonImage {
  padding-right: 8px;
  padding-left: 8px; }

.applyButtonAlice {
  background-color: #fc6a66;
  border-color: #fc6a66;
  padding-left: 10px; }

.applyButtonBob {
  background-color: #7646c0;
  border-color: #7646c0;
  padding-left: 10px; }

.shipButtonDiv {
  display: flex;
  flex-direction: column;
  margin-top: 10px; }

.shipButton {
  width: 25px;
  margin: auto;
  color: #BC5184;
  border-color: #BC5184;
  background: none;
  border-radius: 20px;
  padding: 5px 0px; }

.shipButton:disabled {
  background-color: white;
  color: #28293c;
  border-color: white; }

.acceptButton {
  width: 25px;
  margin: auto;
  border-color: white;
  background: none;
  border-radius: 20px;
  padding: 5px 8px; }

.acceptButton:disabled {
  background-color: white;
  color: #3b34c4;
  border-color: white; }

.shipText {
  margin: auto; }

#LoCCardBobAccepted {
  background: linear-gradient(-90deg, rgba(118, 70, 192, 0.27) 0%, rgba(190, 79, 131, 0.68) 100%); }

.background {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(204, 205, 206, 0.75);
  z-index: 100000000; }

.container {
  flex-direction: column;
  display: flex;
  margin: auto;
  height: 32%;
  width: 20%;
  background-color: white;
  font-family: Helvetica Neue; }

.title {
  color: black; }

.message {
  color: black; }

.textMargins {
  margin: 5% 10% 5% 10%; }

.yesButton {
  border-radius: 30px;
  border: 1px solid #4880ff;
  background-color: transparent;
  color: #4880ff;
  font-size: 85%;
  white-space: nowrap;
  text-align: center;
  float: right; }

.yesButton:hover {
  background-color: #4880ff;
  color: #fff; }

.cancelButton {
  padding: 0;
  border: none;
  background: none;
  font-size: 85%;
  text-decoration: underline;
  color: #4880ff; }

.UserDetails {
  text-align: left;
  padding-left: 6vh;
  padding-bottom: 50px;
  color: white;
  font-weight: lighter; }
  .UserDetails > h1 {
    font-family: HelveticaNeue-Bold;
    font-size: 19px; }
  .UserDetails > p {
    margin: 0;
    font-family: HelveticaNeue; }

.userDetailsTextBold {
  font-weight: bold;
  display: inline; }

.headerBar {
  height: 5vh;
  border: 1px solid #e8e9eb;
  background-color: #f6f8fb;
  line-height: 2.5; }

.locOrdersText {
  margin-left: 6vh; }

.viewAllText {
  margin-left: 50%; }

table {
  width: 80%;
  margin: 3vh 0 3vh 6vh;
  border-collapse: collapse; }

th {
  text-align: left;
  height: 5vh; }

th:nth-child(2) {
  padding-left: 2%; }

.row:hover {
  cursor: pointer;
  background-color: #f6f8fb; }

td {
  height: 5vh;
  font-weight: 500;
  font-size: 12pt;
  color: #999; }

td:nth-child(2) {
  padding-left: 2%; }

td span {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5%; }

.blueText {
  color: #4d48da;
  border-right: 1px solid grey;
  font-weight: bold; }

.purpleText {
  color: #a0066f;
  border-right: 1px solid grey;
  font-weight: bold; }
