.alicePageContainer {
  width: 100%;
  height: -webkit-fill-available;
  background-color: #4d48da;
  display: flex;
  flex-direction: column;
}

.loadingSpan {
  margin: auto;
  color: white;
}

.flexDiv {
  display: flex;
  flex-direction: row;
}

.aliceHeaderDiv {
  width: 100%;
  height: 10vh;
}

.aliceUsername {
  float: left;
  margin: 3vh;
  font-weight: lighter;
  font-size: 90%;
  color: white;
  text-decoration: none;
}

.aliceUsername:hover {
  cursor: pointer;
}

.aliceMenuItems {
  position: absolute;
  right: 0;
  margin-top: 3vh;
}

.aliceMenuItems > span {
  margin: 3vh;
  color: white;
  font-weight: lighter;
  font-size: 90%;
}

.infoDiv {
  height: 50vh;
}

.aliceWelcomeDiv > h1 {
  margin-left: 6vh;
  margin-top: 10vh;
  color: white;
}

.alertsDiv {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.locDiv {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-x: scroll;
  padding-bottom: 7%;
}
