.alicePageContainer {
  width: 100%;
  height: 100vh;
  background-image: url("../../resources/backgrounds/smallbackgroundslice.png"), url("../../resources/backgrounds/largebackgroundslice.png");
  background-repeat: no-repeat, no-repeat;
  background-color: #3B51DC;
  display: flex;
  flex-direction: column;
}

.loadingSpan {
  margin: auto;
  color: white;
}

.flexDiv {
  display: flex;
  flex-direction: row;
}

.aliceHeaderDiv {
  width: 100%;
  height: 10vh;
}

.aliceUsername {
  float: left;
  margin: 3vh;
  font-weight: lighter;
  font-size: 90%;
  color: white;
  text-decoration: none;
}

.aliceUsernameIcon {
  margin-right: 5px;
}

.aliceMenuItems {
  position: absolute;
  right: 0;
  margin-top: 3vh;
  > span {
    margin: 3vh;
    color: white;
    font-weight: lighter;
    font-size: 90%;
  }
}

.infoDiv {
  height: 50vh;
}

.aliceWelcomeDiv {
  > h1 {
    margin-left: 6vh;
    margin-top: 5vh;
    margin-bottom: 4vh;
    color: white;
  }
}

.aliceWelcomeMessage {
  font-family:HiraMaruPro-W4, sans-serif;
  font-weight: lighter;
  font-size:44px;
  color:#ffffff;
  letter-spacing:0;
}

.alertsDiv {
  display: flex;
  flex-direction: column;
  float: right;
}

.locDiv {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-x: auto;
}

.currentBalance {
  margin-top: 5px;
  margin-left: -5px;
  border: 1px solid #273ec6;
  border-radius: 20px;
  background-color: #273ec6;
  color: white;
  padding: 12px;
}
