.bobPageContainer {
  width: 100%;
  height: 100vh;
  background-color: #28293c;
  display: flex;
  flex-direction: column;
}

.loadingSpan {
  margin: auto;
  color: white;
}

.flexDiv {
  display: flex;
  flex-direction: row;
}

.bobHeaderDiv {
  width: 100%;
  height: 10vh;
}

.bobUsername {
  float: left;
  margin: 3vh;
  font-weight: lighter;
  font-size: 90%;
  color: white;
  text-decoration: none;
}

.bobMenuItems {
  margin-top: 3vh;
  margin-left: 20%;
}

.bobMenuItems > span {
  margin: 3vh;
  color: white;
  font-weight: lighter;
  font-size: 90%;
}

.infoDivBob {
  height: 30vh;
}

.bobWelcomeDiv {
  text-align: center;
  margin-left: 0;
  margin-top: 0;
  color: white;
  font-size: 20px
}

.bobDetailsDiv  {
  margin-top: 1vh;
  color: white;
}

.alertsDiv {
  display: flex;
  flex-direction: column;
}

.locDivBob {
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow-x: auto;
}

.LoCCardConnector {
  border: 5px solid #7646c0;
  width: 10px;
  height: 10px;
}

#welcomeMessage {
  font-size: 20px;
  font-weight: lighter;
}

#accountBalance {
  font-size: 55px;
  font-weight: lighter;
}
