.matiasPageContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.matiasLoadingSpan {
  margin: auto;
}

.matiasUsernameIcon {
  margin-right: 5px;
}

.flexDiv {
  display: flex;
  flex-direction: row;
}

.matiasHeaderDiv {
  width: 100%;
  height: 10vh;
  background-color: #3b34c4;
  color: white;
}

.matiasUsername {
  float: left;
  margin-left: 6vh;
  margin-top: 3vh;
  font-weight: lighter;
  font-size: 90%;
  text-decoration: none;
}

.matiasMenuItems {
  margin-top: 3vh;
  margin-left: 20%;
}

.matiasMenuItems > span {
  margin: 3vh;
  font-weight: lighter;
  font-size: 90%;
}

.matiasWelcomeDiv {
  background-color: #3b34c4;
  color: white;
  border-bottom: 1px solid #e8e9eb;
}

.matiasWelcomeDiv > h1 {
  margin-left: 6vh;
  font-weight: 500;
}
